.intock-model-viewsub {
    width: 23.5%;
    float: left;
    border: 20px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 992px)
{
	.EP5-size
	{
		width:101% !important;
	}
	.intock-model-viewsub 
	{
		width: 48.5%;
		float: left;
		border: 15px solid #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.intock-model-view-main
	{
		width:100%;
		border-right: 0px solid #fff;
		border-left: 15px solid #fff;
	}
	.intock-model-main h2 
	{
		font-size: 27px;
		font-family: DIN;
		color: black;
	}
	.instock-main-category2 h2 
	{
		font-size: 22px;
		font-family: DIN;
		color: black;
		position:relative;
		left:-30px;
	}
}
@media screen and (min-width: 480px) and (max-width: 767px)
{
	.EP5-size
	{
		width:101% !important;
	}
	.intock-model-viewsub 
	{
		width: 46.5%;
		float: left;
		border: 10px solid #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.instock-main-category2 h2 
	{
		font-size: 18px;
		font-family: DIN;
		color: black;
		position:relative;
		left:-25px;
	}
	.intock-model-view-main
	{
		width:100%;
		border-right: 0px solid #fff;
		border-left: 26px solid #fff;
	}
	.intock-model-viewsub span 
	{
		display: inline;
		font-family: DIN;
		font-size: 14px;
		text-align: inherit;
		line-height: 0.5;
		word-break: break-word;
		color: #000;
		font-weight: bold;
	}
	.intock-model-main h2 
	{
		font-size: 25px;
		font-family: DIN;
		color: black;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px)
{
	.EP5-size
	{
		width:101% !important;
	}
	.intock-model-viewsub 
	{
		width: 44.5%;
		float: left;
		border: 8px solid #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.instock-main-category2 h2 
	{
		font-size: 16px;
		font-family: DIN;
		color: black;
		position:relative;
		left:-25px;
	}

	.intock-model-main h2 
	{
		font-size: 18px;
		font-family: DIN;
		color: black;
	}
	.intock-model-view-main
	{
		width:100%;
		border-right: 0px solid #fff;
		border-left: 25px solid #fff;
	}
	.intock-modeltext button 
	{
		color: white;
		background-color: #ff000a;
		border-radius: 2px;
		border: none;
		padding: 0px 6px;
		font-weight: normal;
		font-size: 10px;
	}
	.intock-model-viewsub span 
	{
		display: inline;
		font-family: DIN;
		font-size: 13px;
		text-align: inherit;
		line-height: 0.5;
		word-break: break-word;
		color: #000;
		font-weight: bold;
	}
	#captionss 
	{
		margin: auto;
		margin-top: 20px;
		display: block;
		width: 14%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 7px 0px;
		background-color: white;
		color: black;
		height: 25px;
		border-radius: 10px;
	}
}
@media screen and (min-width: 240px) and (max-width: 320px)
{
	.EP5-size
	{
		width:101% !important;
	}
	.intock-model-viewsub 
	{
		width: 44.5%;
		float: left;
		border: 8px solid #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.instock-main-category2 h2 
	{
		font-size: 12px;
		font-family: DIN;
		color: black;
		position:relative;
		left:-25px;
	}

	.intock-model-main h2 
	{
		font-size: 15px;
		font-family: DIN;
		color: black;
	}
	.intock-model-view-main
	{
		width:100%;
		border-right: 0px solid #fff;
		border-left: 20px solid #fff;
	}
	.intock-modeltext button 
	{
		color: white;
		background-color: #ff000a;
		border-radius: 2px;
		border: none;
		padding: 0px 6px;
		font-weight: normal;
		font-size: 10px;
	}
	.intock-model-viewsub span 
	{
		display: inline;
		font-family: DIN;
		font-size: 13px;
		text-align: inherit;
		line-height: 0.5;
		word-break: break-word;
		color: #000;
		font-weight: bold;
	}
	#captionss 
	{
		margin: auto;
		margin-top: 20px;
		display: block;
		width: 16%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 7px 0px;
		background-color: white;
		color: black;
		height: 25px;
		border-radius: 10px;
	}
}